.app-container {
    display: flex;
  }
  
  .side-nav-container {
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .main-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px; /* Agregar un poco de espacio alrededor del contenido */
  }
  
  a {
    margin: 0;
    padding: 0;
  }


  

  .Button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  h1 {
    margin: 0 0 20px;
    font-size: 45px;
    color: #333;
  }
  
  .CajaLogin {
    display: block;
    background-color: #fff;
    align-content: center;
    text-align: center;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }