.app-container {
    display: flex;
  }
  
  .side-nav-container {
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .main-content {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px; /* Agregar un poco de espacio alrededor del contenido */
  }
  
  a {
    margin: 0;
    padding: 0;
  }